# プロジェクトガイドライン

## Development


# 技術要件

- TypeScriptを使用して開発を行うこと
- Next.jsを使用してフロントエンドを開発すること
- 認証はOIDC準拠のものを使うこと
- APIに関するものはOpenAPI仕様書から生成すること



# コードスタイルとパターン

- .devcontainerを使用して開発環境を統一すること
- .editorconfigを使用してエディタの設定を統一すること
- GitHub Actionsを使用してCIを行うこと
- ESLintを使用してコードスタイルを統一すること
- Prettierを使用してコードフォーマットを統一すること
- TypeScriptの型定義は可能な限り具体的に記述すること


## Documentation


# ドキュメント要件

- APIに関するドキュメントはOpenAPI仕様書で記述すること
- TypeScriptのコードにはJSDocを記述すること


## Frontend


# TypeScriptの型定義

- `any`型の使用を避けること
- `unknown`型を使用して型安全性を高めること
- 型ガードを使用して型の安全性を高めること
- interfaceをできる限り使用すること
- 型キャストは使用しないこと


